node_red_data/flows.json
[
    {
        "id": "726be8abe1244f35",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6094f9db83c80ba8",
        "type": "Kafka Broker",
        "name": "kafka:9092",
        "hosts": [
            {
                "host": "kafka",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": 10000,
        "requestTimeout": 30000,
        "autoConnect": "true",
        "idleConnection": 5,
        "reconnectOnIdle": "true",
        "maxAsyncRequests": 10,
        "checkInterval": 10,
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "179e573e70574fe6",
        "type": "Kafka Broker",
        "name": "localhost",
        "hosts": [
            {
                "host": "localhost",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": 10000,
        "requestTimeout": 30000,
        "autoConnect": "true",
        "idleConnection": 5,
        "reconnectOnIdle": "true",
        "maxAsyncRequests": 10,
        "checkInterval": 10,
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "cb9368d62cb6021e",
        "type": "Kafka Broker",
        "name": "kafka:29092",
        "hosts": [
            {
                "host": "kafka",
                "port": 29092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": 10000,
        "requestTimeout": 30000,
        "autoConnect": "true",
        "idleConnection": 5,
        "reconnectOnIdle": "true",
        "maxAsyncRequests": 10,
        "checkInterval": 10,
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "5b47d008f55791c3",
        "type": "inject",
        "z": "726be8abe1244f35",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "fb8e3b67ad186659"
            ]
        ]
    },
    {
        "id": "fb8e3b67ad186659",
        "type": "http request",
        "z": "726be8abe1244f35",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/air_pollution?lat=50.0647&lon=19.9450&appid=1d3e0accd1a439c1e523e8b146b0e0fe",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "f232cfefa2b2fe05"
            ]
        ]
    },
    {
        "id": "f232cfefa2b2fe05",
        "type": "json",
        "z": "726be8abe1244f35",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "c19f83dbecf815c6"
            ]
        ]
    },
    {
        "id": "c19f83dbecf815c6",
        "type": "function",
        "z": "726be8abe1244f35",
        "name": "function 1",
        "func": "msg.air = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 180,
        "wires": [
            [
                "80aea64ac8cd6488"
            ]
        ]
    },
    {
        "id": "80aea64ac8cd6488",
        "type": "http request",
        "z": "726be8abe1244f35",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=50.0647&lon=19.9450&appid=1d3e0accd1a439c1e523e8b146b0e0fe&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 180,
        "wires": [
            [
                "cd628165a4385bea"
            ]
        ]
    },
    {
        "id": "cd628165a4385bea",
        "type": "json",
        "z": "726be8abe1244f35",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "4ea6b902b348799a"
            ]
        ]
    },
    {
        "id": "4ea6b902b348799a",
        "type": "function",
        "z": "726be8abe1244f35",
        "name": "function 2",
        "func": "let air = msg.air;\nlet weather = msg.payload;\n\nlet airdata = air.list[0];\nlet temp = weather.main.temp;\nlet humidity = weather.main.humidity;\n\nlet obj = {\n    timestamp: Date.now(),\n    location: \"Krakow\",\n    pm25: airdata.components.pm2_5,\n    pm10: airdata.components.pm10,\n    co2: airdata.components.co,\n    temp: temp,\n    humidity: humidity\n};\n\nmsg.payload = JSON.stringify(obj);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 180,
        "wires": [
            [
                "9ac08ea0d84a555a"
            ]
        ]
    },
    {
        "id": "9ac08ea0d84a555a",
        "type": "Kafka Producer",
        "z": "726be8abe1244f35",
        "name": "",
        "broker": "cb9368d62cb6021e",
        "topic": "env_data",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 1380,
        "y": 180,
        "wires": []
    }
]